@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #000000;
  --navColor2: #C7A01B;
  --navColor3: #1B4C82;
  --navColor4: #C7831B;
  --navColor5: #2C238A;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Button Styling */
.button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn1 {
    color: white; 
    border: 2px solid black;
    text-shadow: 2px 2px 4px #000000;
}
  
.btn1:hover {
    background-color: #c7831b;
}

/* --- Video Styling ------------------------------ */
video {
  width: 80%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

/* Slowly brings the bars in once nav is pressed */
.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

/* Slowly brings the bars out once the nav is pressed */
.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav, nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

/* Color each list item using nth-of-type */
nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.4s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.4s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.4s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.4s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.4s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
  text-shadow: 2px 2px 4px #000000;
}

section#home {
    background-image: linear-gradient(rgba(199, 131, 27, 1), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1515579397596-f91490ed84f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    text-align: center;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
}

section#products {
  padding-bottom: 12px;
  height: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--navColor2);
}

section#trip {
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* --- Footer ------------------------------------ */
footer {
  height: 50vh;
  text-align: center;
  color: white;
}

/* --- Cards ------------------------------------ */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  overflow-x: auto;
}

.card {
  margin: 0px 12px;
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  box-shadow: 5px 10px 8px black;
  width: 100%;
  height: 100%;
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
  .card {
    width: 95vw;
  }

  .container{
    flex-wrap: wrap;
  }
}
